<!-- <section> -->
	<div class="container bottom-pad">
		<div class="row">
			<div class="btn-group col-md-2 col-md-offset-5">
				<button type="button" class="btn btn-default control-button"><i class="fa fa-backward fa-2x"></i></button>
				<button type="button" class="btn btn-primary control-button" data-bind="click: playButtonClicked"><i class="fa fa-play fa-2x"></i></button>
				<button type="button" class="btn btn-default control-button"><i class="fa fa-forward fa-2x"></i></button>
			</div>
		</div>
	</div>
<!-- </section> -->
