<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div data-bind="compose: 'navbar.html'"></div>
    </div>
</header>

<div class="router-loader" data-bind="visible: router.isNavigating">
    <i class="fa fa-cog fa-4x fa-spin active"></i>
</div>

<section id="main" class="container" data-bind="router: { cacheViews:true }"></section>

<footer class="footer well">
    <div class="container">
        <div data-bind="compose:'viewmodels/music'"></div>
    </div>
</footer>
